<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.product.mapper.category.PcCategoryAttributeMapper">
	<resultMap id="BaseResultMap"
		type="org.product.entity.category.PcCategoryAttribute">
		<id column="code" jdbcType="VARCHAR" property="code" />
		<result column="uid" jdbcType="VARCHAR" property="uid" />
		<result column="category" jdbcType="VARCHAR" property="category" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="default_value" jdbcType="VARCHAR" property="defaultValue" />
		<result column="sort" jdbcType="BIGINT" property="sort" />
		<result column="create_user" jdbcType="VARCHAR" property="createUser" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_user" jdbcType="VARCHAR" property="updateUser" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	<sql id="Base_Column_List">
		code, uid, category, name, default_value, sort,
		create_user, create_time,
		update_user,
		update_time
	</sql>
	<select id="select" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from pc_category_attribute
		where code = #{code,jdbcType=VARCHAR}
	</select>
	<delete id="delete" parameterType="java.lang.String">
		delete from
		pc_category_attribute
		where code = #{code,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="org.product.entity.category.PcCategoryAttribute">
		insert into pc_category_attribute
		<trim prefix="(" suffix=")" suffixOverrides=",">
			`code`,
			uid,
			category,
			`name`,
			<if test="defaultValue != null">
				default_value,
			</if>
			<if test="sort != null">
				sort,
			</if>
			create_user,
			create_time,
			update_user,
			update_time,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{code,jdbcType=VARCHAR},
			#{uid,jdbcType=VARCHAR},
			#{category,jdbcType=VARCHAR},
			#{name,jdbcType=VARCHAR},
			<if test="defaultValue != null">
				#{defaultValue,jdbcType=VARCHAR},
			</if>
			<if test="sort != null">
				#{sort,jdbcType=BIGINT},
			</if>
			#{createUser,jdbcType=VARCHAR},
			#{createTime,jdbcType=TIMESTAMP},
			#{createUser,jdbcType=VARCHAR},
			#{createTime,jdbcType=TIMESTAMP},
		</trim>
	</insert>
	<update id="update" parameterType="org.product.entity.category.PcCategoryAttribute">
		update pc_category_attribute
		<set>
			<if test="category != null and category != '' ">
				category = #{category,jdbcType=VARCHAR},
			</if>
			<if test="name != null and name != '' ">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="defaultValue != null and defaultValue != '' ">
				default_value = #{defaultValue,jdbcType=VARCHAR},
			</if>
			<if test="sort != null">
				sort = #{sort,jdbcType=BIGINT},
			</if>
			update_user = #{updateUser,jdbcType=VARCHAR},
			update_time =
			#{updateTime,jdbcType=TIMESTAMP},
		</set>
		where `code` = #{code,jdbcType=VARCHAR}
	</update>
</mapper>