<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.product.mapper.product.PcKeywordsMapper">
	<resultMap id="BaseResultMap" type="org.product.entity.product.PcKeywords">
		<id column="code" jdbcType="VARCHAR" property="code" />
		<result column="uid" jdbcType="VARCHAR" property="uid" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="create_user" jdbcType="VARCHAR" property="createUser" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_user" jdbcType="TIMESTAMP" property="updateUser" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	<sql id="Base_Column_List">
		code, uid, name, create_user, create_time, update_user,
		update_time
	</sql>
	<select id="select" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from pc_keywords
		where code = #{code,jdbcType=VARCHAR}
	</select>
	<delete id="delete" parameterType="java.lang.String">
		delete from pc_keywords
		where
		code = #{code,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="org.product.entity.product.PcKeywords">
		insert into pc_keywords (code,
		uid, name,
		create_user, create_time, update_user,
		update_time)
		values
		(#{code,jdbcType=VARCHAR}, #{uid,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR},
		#{createUser,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=TIMESTAMP},
		#{updateTime,jdbcType=TIMESTAMP})
	</insert>
	<update id="update" parameterType="org.product.entity.product.PcKeywords">
		update pc_keywords
		<set>
			<if test="name != null and name != '' ">
				name = #{name,jdbcType=VARCHAR},
			</if>
			update_user =
			#{updateUser,jdbcType=TIMESTAMP},
			update_time =
			#{updateTime,jdbcType=TIMESTAMP},
		</set>
		where code = #{code,jdbcType=VARCHAR}
	</update>
</mapper>