<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.product.mapper.product.PcProductSpecMapper">
	<resultMap id="BaseResultMap" type="org.product.entity.product.PcProductSpec">
		<id column="product" jdbcType="VARCHAR" property="product" />
		<id column="spec_key" jdbcType="VARCHAR" property="specKey" />
		<id column="spec_value" jdbcType="VARCHAR" property="specValue" />
		<result column="uid" jdbcType="VARCHAR" property="uid" />
		<result column="type" jdbcType="INTEGER" property="type" />
		<result column="sort" jdbcType="BIGINT" property="sort" />
		<result column="create_user" jdbcType="VARCHAR" property="createUser" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_user" jdbcType="VARCHAR" property="updateUser" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	<sql id="Base_Column_List">
		product, spec_key, spec_value, uid, type, sort,
		create_user, create_time,
		update_user,
		update_time
	</sql>
	<select id="selectByMap" parameterType="map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from pc_product_spec
		where product = #{product,jdbcType=VARCHAR}
		and
		spec_key = #{specKey,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByMap" parameterType="map">
		delete from
		pc_product_spec
		where product = #{product,jdbcType=VARCHAR}
		and spec_key
		=
		#{specKey,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="org.product.entity.product.PcProductSpec">
		insert into pc_product_spec
		<trim prefix="(" suffix=")" suffixOverrides=",">
			product,
			spec_key,
			spec_value,
			uid,
			type,
			<if test="sort != null">
				sort,
			</if>
			create_user,
			create_time,
			update_user,
			update_time,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{product,jdbcType=VARCHAR},
			#{specKey,jdbcType=VARCHAR},
			#{specValue,jdbcType=VARCHAR},
			#{uid,jdbcType=VARCHAR},
			#{type,jdbcType=INTEGER},
			<if test="sort != null">
				#{sort,jdbcType=BIGINT},
			</if>
			#{createUser,jdbcType=VARCHAR},
			#{createTime,jdbcType=TIMESTAMP},
			#{createUser,jdbcType=VARCHAR},
			#{createTime,jdbcType=TIMESTAMP},
		</trim>
	</insert>
	<update id="update" parameterType="org.product.entity.product.PcProductSpec">
		update pc_product_spec
		<set>
			<if test="specValue  != null && specValue != '' ">
				spec_value = #{specValue,jdbcType=VARCHAR}
			</if>
			<if test="type != null">
				type = #{type,jdbcType=INTEGER},
			</if>
			<if test="sort != null">
				sort = #{sort,jdbcType=BIGINT},
			</if>
			update_user = #{updateUser,jdbcType=VARCHAR},
			update_time =
			#{updateTime,jdbcType=TIMESTAMP},
		</set>
		where product = #{product,jdbcType=VARCHAR}
		and spec_key =
		#{specKey,jdbcType=VARCHAR}
	</update>
</mapper>