<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.product.mapper.PcProductKeywordsMapper">
  <resultMap id="BaseResultMap" type="org.product.entity.PcProductKeywords">
    <id column="product" jdbcType="VARCHAR" property="product" />
    <id column="keywords" jdbcType="VARCHAR" property="keywords" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="sort" jdbcType="BIGINT" property="sort" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    product, keywords, uid, sort, create_user, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pc_product_keywords
    where product = #{product,jdbcType=VARCHAR}
      and keywords = #{keywords,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from pc_product_keywords
    where product = #{product,jdbcType=VARCHAR}
      and keywords = #{keywords,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.product.entity.PcProductKeywords">
    insert into pc_product_keywords (product, keywords, uid, 
      sort, create_user, create_time
      )
    values (#{product,jdbcType=VARCHAR}, #{keywords,jdbcType=VARCHAR}, #{uid,jdbcType=VARCHAR}, 
      #{sort,jdbcType=BIGINT}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.product.entity.PcProductKeywords">
    insert into pc_product_keywords
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="product != null">
        product,
      </if>
      <if test="keywords != null">
        keywords,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="product != null">
        #{product,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null">
        #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=BIGINT},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.product.entity.PcProductKeywords">
    update pc_product_keywords
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=BIGINT},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where product = #{product,jdbcType=VARCHAR}
      and keywords = #{keywords,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.product.entity.PcProductKeywords">
    update pc_product_keywords
    set uid = #{uid,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=BIGINT},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where product = #{product,jdbcType=VARCHAR}
      and keywords = #{keywords,jdbcType=VARCHAR}
  </update>
</mapper>