<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.product.mapper.product.PcProductKeywordsMapper">
	<resultMap id="BaseResultMap" type="org.product.entity.product.PcProductKeywords">
		<id column="product" jdbcType="VARCHAR" property="product" />
		<id column="keywords" jdbcType="VARCHAR" property="keywords" />
		<result column="uid" jdbcType="VARCHAR" property="uid" />
		<result column="sort" jdbcType="BIGINT" property="sort" />
		<result column="create_user" jdbcType="VARCHAR" property="createUser" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	</resultMap>
	<sql id="Base_Column_List">
		product, keywords, uid, sort, create_user, create_time
	</sql>
	<select id="selectByProduct" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from pc_product_keywords
		where product = #{product,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByProduct" parameterType="java.lang.String">
		delete from
		pc_product_keywords
		where product = #{product,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="org.product.entity.product.PcProductKeywords">
		insert into
		pc_product_keywords (product, keywords, uid,
		sort, create_user,
		create_time
		)
		values (#{product,jdbcType=VARCHAR},
		#{keywords,jdbcType=VARCHAR},
		#{uid,jdbcType=VARCHAR},
		#{sort,jdbcType=BIGINT}, #{createUser,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP}
		)
	</insert>
</mapper>