<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.product.mapper.product.PcProductStatusMapper">
	<resultMap id="BaseResultMap" type="org.product.entity.product.PcProductStatus">
		<id column="code" jdbcType="VARCHAR" property="code" />
		<result column="uid" jdbcType="VARCHAR" property="uid" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="flag_enabled" jdbcType="INTEGER" property="flagEnabled" />
		<result column="create_user" jdbcType="VARCHAR" property="createUser" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_user" jdbcType="VARCHAR" property="updateUser" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	<sql id="Base_Column_List">
		code, uid, name, flag_enabled, create_user, create_time,
		update_user,
		update_time
	</sql>
	<select id="select" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from pc_product_status
		where code = #{code,jdbcType=VARCHAR}
	</select>
	<delete id="delete" parameterType="java.lang.String">
		delete from
		pc_product_status
		where code = #{code,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="org.product.entity.product.PcProductStatus">
		insert into pc_product_status
		<trim prefix="(" suffix=")" suffixOverrides=",">
			code,
			uid,
			name,
			<if test="flagEnabled != null">
				flag_enabled,
			</if>
			create_user,
			create_time,
			update_user,
			update_time,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{code,jdbcType=VARCHAR},
			#{uid,jdbcType=VARCHAR},
			#{name,jdbcType=VARCHAR},
			<if test="flagEnabled != null">
				#{flagEnabled,jdbcType=INTEGER},
			</if>
			#{createUser,jdbcType=VARCHAR},
			#{createTime,jdbcType=TIMESTAMP},
			#{createUser,jdbcType=VARCHAR},
			#{createTime,jdbcType=TIMESTAMP},
		</trim>
	</insert>
	<update id="update" parameterType="org.product.entity.product.PcProductStatus">
		update pc_product_status
		<set>
			<if test="name != null and name != '' ">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="flagEnabled != null">
				flag_enabled = #{flagEnabled,jdbcType=INTEGER},
			</if>
			update_user = #{updateUser,jdbcType=VARCHAR},
			update_time =
			#{updateTime,jdbcType=TIMESTAMP},
		</set>
		where code = #{code,jdbcType=VARCHAR}
	</update>
</mapper>